.container {
  max-width: 500px;
  margin: 40px auto;
  background: var(--dark-gray-color);
  padding: 20px;
  border-radius: 6px;
}

.heading {
  color: var(--light-color);
  margin: 20px 0;
  text-align: center;
}
